<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wuyou.dao.GoodsMapper">
    <resultMap id="GoodsMap" type="com.wuyou.entity.Goods">
        <id column="id" property="id"/>
        <result column="subject" property="subject"/>
        <result column="info" property="info"/>
        <result column="price" property="price"/>
        <result column="save" property="save"/>
        <result column="create_time" property="createTime"/>
       <collection property="goodsImageList" ofType="com.wuyou.entity.GoodsImage">
           <id column="gi_id" property="id"/>
           <result column="gid" property="gid"/>
           <result column="url" property="url"/>
           <result column="iscover" property="iscover"/>
       </collection>

    </resultMap>
    <select id="getGoodsList" resultMap="GoodsMap">
        select *,gi.id gi_id from goods g join goods_image gi on g.id=gi.gid
    </select>
</mapper>